
body {
	background-color: #DDEEFF;
}

h1 {
	color: red;
	text-align: center;
}

h2, p, h3, #buttons {
	text-align: center;
}

table, td {
	border: 1px solid;
}

table {
	margin: 5px;
}